{% extends "masters/01/index.html" %}
{% block content %}

	<p class="body-font content-font" style="padding: 10px; text-align: left;">Congratulations on taking the first step towards sanity. Artisan hopes to ease the pain of email development by giving you a small subset of tools. You will be creating beautiful hand crafted emails in no time.</p>
	<p class="body-font content-font" style="padding: 10px; text-align: left;">The Artisan CLI is written in python. Please read the docs for further information.</p>
	<img src="/messages/success/images/artisan.png" alt="Artisan">
	
{% endblock %}